[user]
	email = dinotahto.dev@gmail.com
	name = Dino Tahto

[core]
	editor = nvim
	excludesfile = ~/.gitignore

[color]
	advice = true
	branch = true
	diff = true
	grep = true
	interactive = true
	pager = true
	push = true
	remote = true
	showBranch = true
	status = true
	transport = true
	ui = true

[color "branch"]
	current = 14
	local = 10
	remote = 9
	upstream = 208
	plain = 15

[color "decorate"]
	branch = 2 bold
	remoteBranch = 1 bold
	tag = 3 bold
	stash = 5 bold
	HEAD = 6 bold
	grafted = 4 bold

[color "diff"]
	context = 15
	meta = 4 bold reverse
	frag = 3 bold reverse
	func = 166 bold reverse
	commit = 3 bold
	old = 9
	new = 10
	oldMoved = 8
	newMoved = 14
	oldMovedAlternative = 8
	newMovedAlternative = 14
	whitespace = 1 reverse

[color "diff-highlight"]
	oldHighlight = reverse
	oldReset = noreverse

[color "interactive"]
	prompt = 4 bold
	header = 15 bold
	help = 15
	error = 1

[color "push"]
	error = 1 bold

[color "transport"]
	rejected = 1 bold

[color "remote"]
	hint = 5 bold
	warning = 3 bold
	success = 2 bold
	error = 1 bold

[color "status"]
	header = 15 bold
	added = 14 bold
	changed = 11 bold
	untracked = 9 bold
	branch = 2 bold
	nobranch = 3 bold
	localBranch = 2 bold
	remoteBranch = 1 bold
	unmerged = 9 bold reverse
