[submodule ".config/awesome/freedesktop"]
	path = .config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule ".config/zsh/custom/plugins/zsh-autosuggestions"]
	path = .config/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/custom/plugins/zsh-completions"]
	path = .config/zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".config/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/ranger/colorschemes/ranger-colorschemes"]
	path = .config/ranger/colorschemes/ranger-colorschemes
	url = https://github.com/alfunx/ranger-colorschemes/tree/cf93c5cd157d2ba6847a2d177f3bee5d065c67a8
[submodule ".config/ranger/ranger-colorschemes"]
	path = .config/ranger/ranger-colorschemes
	url = https://github.com/alfunx/ranger-colorschemes.git
